.bodyClass {
    background: black;
    color: whitesmoke;
    font-family: sans-serif;
}

}

* {
  box-sizing: border-box;
}

.header {background: cornsilk;
color: black;
padding: 3px;}
.top-links {text-decoration: none;
    color: white;
}
p {font-size: 16px;
    text-align: center;
    font-family: sans-serif

}

#testing1 {font-family: sans-serif;
text-size: 20px;
}

#testing2 {font-family: sans-serif;}
#testing3 {font-family: sans-serif;}

.large {
    font-size: 30px;
    font-weight: bold;}
.first {background: #C9FFDF;
color: black;}

.second {background: #45E8AC;
    color: black;}
img {height: 300px; 
    width: 220px;

background: #black;
  border: 1px solid #9799a7;
  float: right;
 }

.square {