.bodyClass {
    background: black;
    color: #B8A112;
}
p {font-size: 16px;
    text-align: center;

}

#testing1 {font-family: fantasy;
text-size: 20px;
}

#testing2 {font-family: monospace}
#testing3 {font-family: cursive}

.large {
    font-size: 30px;
    font-weight: bold;}