body {
  margin: 20px;
  font-family: "helvetica neue";
  
}

* {
  box-sizing: border-box;
}


#wrapper {
  border: 2px dotted slategray;
  width: 800px;
  padding: 15px;
  margin: 0 auto;
}

.header {background: #EDEDED;
}
.top-links {text-decoration: none;
    color: white;
}

a:hover {color: goldenrod;}


span {background: lightslategray;
border: 1px;
padding: 7px;
border-radius: 5px;}
 
img {border: dotted slategray;
  width: 190px;
    padding: 8px;
float: left;
margin: 9px;}
    
    footer {border: dotted slategray;
padding-bottom: 15px;}

.footer-links {color: gray}
