
.firstcontainer {
    border: 4px solid black;
    margin-bottom: 130px; 
    height: 570px;
    width: 960px;  
}

.onethird {
    width: 960px;
    height: 190px;
    
}

.firstbox_1 {
    width: 200px;
    height: 200px;
    background: red;
    float: left;
   
}

.firstbox_2 {
    
    width: 200px;
    height: 200px;
    background: green;
   float: right;
    
}

.twothirds {
     width: 960px;
    height: 190px;
    
}



.threethirds {
     width: 960px;
    height: 190px;
    
    
}
.firstbox_3 {
  
    width: 200px;
    height: 200px;
    background: blue;
    float: left;
  

}

.firstbox_4 {
   
    width: 200px;
    height: 200px;
    background: yellow;
    float: right;
  
}


.secondcontainer {
    display: flex;
    border: 4px solid black;
    margin-bottom: 130px; 
    height: 570px;
    width: 960px;
}

.secondbox_1 {  
    background-color: red;
    width: 240px;
    height: 570px;
}

.secondbox_2 {
    background-color: green;
    width: 240px;
    height: 570px;
        
}

.secondbox_3 {
    background-color: blue;
    width: 240px;
    height: 570px;
}

.secondbox_4 {
    background-color: yellow;
    width: 240px;
    height: 570px;
}

.thirdcontainer {

    border: 4px solid black;
    height: 570px;
    width: 960px;
    margin-bottom: 130px;
       
}

.thirdbox_1 {
    background-color: red;
    width: 920px;
    height: 120px;
    margin: 20px;
}

.thirdbox_2 {
    background-color: green;
    width: 175px;
    height: 395px;
    margin-left: 20px;
  
}

.thirdbox_3 {
    background-color: blue;
    width: 730px;
    height: 395px;
    margin-left: 20px;
 
}

.middle, .top {display: flex;}