* {
    box-sizing: border-box;
}

body {
    background: darkgray;
}

a:hover { 
    background-color: #1ac6ff;
}

.main-container {
    width: 1000px;
    margin: 0 auto 0 auto;
    background: white;
    
}

.promo-container {
    color: white;
    font-family: 'Oswald', sans-serif;
    background-image: url("http://tiffaneyparis.github.io/crop_main.jpg");
    background-position: left top;
    background-repeat: no-repeat;
  
}
    
header {
 display: flex; 
}

.branding {
    background: white;
    width: 300x;
    height: 45px;
    margin-right: auto; 
}

.pill-button {
    display: inline-block;
    background: gray;
    padding: 5px 20px 5px 20px;
    border-radius: 40px 0 40px 0;
    color: white;
    text-decoration: none;   
    margin: 5px 
}

 .promo {
     background: white;
     color: black;
     font-size: 18px;
 }
    
.pill-button_buynow {
    display: inline;
    background: gray;
    padding: 5px 20px 5px 20px;
    border-radius: 40px 0 40px 0;
    color: white;
    text-decoration: none;   
    margin: 50px 0 50px 50px;
    
}



#big-promo {
    padding-top: 200px; 
}

.promo-message {
    width: 60%;
    padding: 50px;
    
}



.product-features, .product-buy-it-now {
    display: flex;  
    
    
}

.feature {
    text-align: center;
    padding: 20px;   
    background: #D8D8D8;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
}
    
.feature-image {

    margin: 0;
   

    
}

.floatright {
    align: flex;
}

.feature-image1 {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    overflow: hidden;   
   background-image: url("https://tiffaneyparis.github.io/homeoffice1.jpg");
   background-position: right bottom;
}

.feature-image2 {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    overflow: hidden;   
  background-image: url("https://tiffaneyparis.github.io/home_office2.jpg");
   background-position: left bottom;
}
  

.feature-image3 {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    overflow: hidden;   
  background-image: url("https://tiffaneyparis.github.io/home-office-3.jpg");
   background-position: center bottom;
}


.product-buy-it-now {
    align-items: right;
    margin: 10px;
    line-height: 12px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
    
    
    

}
.product-image {
   height: 275px;
    width: 465px;
    align: center;
margin: auto;
    background-image: url("https://tiffaneyparis.github.io/Office plan.jpg");
}

.product-info {
 text-align: right; 
   margin: 0 0 80px 0;
    
        
}



#product-reviews {
    background: grey;
    color: lightgray;
    text-align: right;
    padding: 20px;
    background-image: url("https://tiffaneyparis.github.io/bottombar.jpg");
     background-repeat: no-repeat;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    
}

footer {
    display: flex;
    background: lightgrey;
    font-family: 'Oswald', sans-serif;
    
}



.footer-copyright {
    text-align: left;
    margin: 0 675px 0 0;
    padding: 10px 0 0 10px;
    font-size: 10px;
   
}

.icons {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 5px
}