* {
    box-sizing: border-box;
}

    
.main-container {
    width: 1000px;
 margin: 0 auto 0 auto;   
}

.promo-container {
    background: lightgray;
}
    
header {
 display: flex; 
}

.branding {
    background: black;
    width: 150px;
    height: 45px;
    margin-right: auto; 
}

.pill-button
{
  display: inline-block;
    background: gray;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;   
}

 .promo {
     background: white;
     color: black;
     font-size: 18px;
 }
    

/* Big Promo*/

#big-promo {
    padding-top: 200px; 
}

.promo-message {
    width: 60%;
    padding: 50px;  
}

/* Product Features */

.product-features, .product-buy-it-now {
    display: flex;  
    
}

.feature {
    text-align: center;
    padding: 20px;   
}
    

.feature-image {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    overflow: hidden;    
}

.product-buy-it-now{
    align-items: center;

}
.product-info {
 text-align: right;   
        
}

/* Product Reviews */

#product-reviews {
    background: skyblue;
    color: white;
    text-align: center;
    padding: 50px;
}

footer {
    display: flex;
    background: pink;
}

.footer-links {

}

.footer-copyright {
    text-align: right;
    

}