* {
    box-sizing: border-box;
}

.pg_container {
    width: 800px;
    height: auto;
    margin: 0 auto 0 auto;
    background: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
   
}
.header {
    background: #00CCCC;
    width: 800px;
    height: auto;  
    
}

.navigation_top .top {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 25px 10px 10px 0;
    font-size: 12px;
    float: left;
}

.logo {
    margin: 7px 0px 5px 339px;
       
   
}

a {
    text-decoration: none;
    color: white;
}

.packages {
    width: 800px;
    height: 500px;
    background: lightgray;
    display: flex;
    
}

.top_banner {
    height: 300px;
    width: 800px;
}

.package_info {
    text-align: center;
    height: 350px;
    width: 220px;
    background: white;
    justify-content: center;
    padding: 10px;
    border: solid black 1px;
    margin: 40px 30px 40px 30px;
    line-height: 1;
}

.money_bold {
    
    font-weight: 700;
    font-size: 40px;
    font-family: 'Passion One', cursive; 
}

.money_regular {
    font-size: 40px;
    font-family: 'Passion One', cursive; 
}

.italic {
font-style: italic;
}