* {
    box-sizing: border-box;
}

.pg_container {
    width: 800px;
    height: auto;
    margin: 0 auto 0 auto; 
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
}

.header {
    background: #39CCCC;
    width: 800px;
    height: auto;  
}

.navigation_top .top {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 25px 10px 10px 0;
    font-size: 12px;
    float: left;
    font-weight: 600;
}

.logo {
    margin: 7px 0px 5px 339px;
}


a {
    text-decoration: none;
    color: black;
}

.main_1 {
    display: flex;
}

.main_content {
    background: #FFFCD8;
    width: 800px;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 15px;
}

.right_image {
    float: right;
    margin: 10px; 
}

.left_image {
    float: left;
    margin: 10px;
}

.bold_text {
    font-weight: 800;
    font-size: 40px;
    font-family: 'Passion One', cursive; 
}

footer {
    background: #39CCCC;
    display: flex;
}

.footer-container {
    margin-left: auto;
    text-align: right;
    font-size: 12px; 
    padding: 10px 10px 0 0;
    line-height: 5px;
}

.name {
    font-size: 10px;
}

.underline {
    text-decoration: underline;
}