* {
    box-sizing: border-box;
}

.pg_container {
    width: 800px;
    height: auto;
    margin: 0 auto 0 auto;
    background: white;
   
}

.header {
    background: black;
    width: 800px;
    height: auto;  
    
}

.navigation li {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 25px 10px 10px 0;
    font-size: 12px;
    float: left;
}

.logo {
    padding: 7px 0px 5px 437px
   
}

a {
    text-decoration: none;
    color: white;
}

