* {
    box-sizing: border-box;
}

.pg_container {
    width: 800px;
    height: auto;
    margin: 0 auto 0 auto;
    background: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
   
}
.header {
    background: red;
    width: 800px;
    height: auto;  
    
}

.navigation_top .top {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 25px 10px 10px 0;
    font-size: 12px;
    float: left;
}

.logo {
    margin: 7px 0px 5px 339px;
       
   
}

a {
    text-decoration: none;
    color: white;
}

.packages {
    width: 800px;
    height: 500px;
    background: lightyellow;
    display: flex;
}

.top_banner {
    height: 300px;
    width: 800px;
}

.package_info {
    height: 350px;
    width: 220px;
    background: goldenrod;
    justify-content: center;
   border: solid black 1px;
    margin: 40px 30px 40px 30px;
}


.name {
    color: white;
    font-size: 10px;
    margin: 0;
    width: 800px;
    
  
}
    
    .footer {
    background: black;
    width: 800px;
   
}

.navigation_bottom {
    text-decoration: none;
    color: white;
    font-size: 12px;
    
}

.bottom {
    display: inline-block;
    text-decoration: none;
   padding: 0px 10px 0px 0;
    font-size: 12px;
    
  
}