.pg_container {
    width: 1200px;
    height: auto;
}

header {
    background color: black;
    
    
}

.navigation li {
    display: inline-block;
    text-decoration: none;
    
}

a {
    text-decoration: none;
}